#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}

#newsletter .form-control{
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px ;
}

#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

#newsletter .btn:hover{
    background-color: #000;
    border-color:#000 ;
}