.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* bấm vào giữa màu không mất */
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}


.collection-img span{
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

